@charset "UTF-8";

.error-container {
	margin: 10px 0 0 0;
	color: tomato;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.5em;
	text-align: left;
	
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
}

form input{
	outline: none;
}

form input[type="text"], 
form input[type="password"]{
	width: 400px;
	padding: 12px;
}

form > input[type="submit"] {
	width: 426px;
	color: whitesmoke;
	padding: 12px;
	margin: 0;
	border: none;
	border-radius: 10px;
	background-color: #5356FF;
}

form > div
{
	margin-top: 20px;
}

form > div:nth-last-child(2)
{
	border-radius: 10px;
	border: solid 1px lightgrey;
}


form > div > input{
	border: solid 1px lightgrey;
}

form > div > input:first-child {
	border-radius: 10px 10px 0 0;
	padding-top: 14px;
}

form > div > input:first-child{
	border-bottom: none;
}

form > div > input:focus{
	border-top: none;
}